<ion-content [fullscreen]="true">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button  style="" size="small" color="light" (click)="call ()">
      <ion-icon name="call"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center ion-no-margin">
      <ion-col size="9" class="ion-text-center">
        <h6 class="hora">{{ get_hora () }}</h6>
        <p class="fecha">{{ get_fecha () }}</p>
      </ion-col>
      <ion-col size="12" size-md="10">
        <h5 class="ion-text-center font_subtitulo">Hora de inicio de carga: 08:23</h5>
      </ion-col>

      <ion-col size="12" size-md="10" class="ion-text-center">
        <ion-badge *ngIf="item?.almacen_valido === false" color="danger">Almacen: Carga sin confirmar</ion-badge>
        <ion-badge *ngIf="item?.almacen_valido === true" color="success">Almacen: Carga confirmada</ion-badge>
      </ion-col>

      <ion-col size="12" size-md="10" class="ion-no-padding">
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" size-sm="6" size-lg="5" class="ion_padding_col">
            <ion-item *ngFor="let producto of productos">
              <ion-checkbox slot="start" [(ngModel)]="producto.checked"></ion-checkbox>
              <ion-label>{{ producto.nombre }}</ion-label>
              <ion-label style="text-align: end;" slot="end">{{ producto.cantidad }} und.</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-button color="light" size="small" shape="round" [disabled]="check_disbled_button () || item?.almacen_valido === false" (click)="finalizar_descarga ()">
      Confirmar y finalizar carga
    </ion-button>
  </ion-toolbar>
</ion-footer>
