<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small" color="light" (click)="call ()">
      <ion-icon name="call"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div id="img_mapa">
    <div #map id="map"></div>
  </div>
</ion-content>

<ion-footer>
  <!--<ion-toolbar>
    <ion-row>
      <ion-col size="6" class="ion-no-padding">
        <ion-button expand="full" (click)="eventos ()" class="ion-no-margin btn_tabs">
          Eventos
        </ion-button>
      </ion-col>

      <ion-col size="6" class="ion-no-padding">
        <ion-button expand="full" [disabled]="item?.estado === 'finalizado'" (click)="accion ()" class="ion-no-margin">
          {{ botton_accion?.text }}<br>{{ item?.cliente_actual?.nombre }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>-->
  <ion-toolbar class="ion-no-padding">
      <ion-button class="ion-no-margin btn_tabs" (click)="eventos ()">
        Eventos
      </ion-button>
      <ion-button [disabled]="item?.estado === 'finalizado'" (click)="accion ()" class="ion-no-margin">
        <span>{{ botton_accion?.text }}</span><span>{{ item?.cliente_actual?.nombre }}</span>
      </ion-button>
  </ion-toolbar>
</ion-footer>
<!-- <ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button class="btn_tabs" (click)="presentActionSheet()">
      <ion-label>Eventos</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="presententrega()">
      <ion-label>Finalizar descarga</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->